/* Poppins Regular */
/* @font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.ttf") format("truetypetruetype");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
} */

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts//Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --primary-color: #ff6f00;
  --secondary-color: #000000;
  --white-color: #ffffff;
  --gray-color: #b8b8b8;
  --blue-color: #9dbdff;
  --shadow-color: #00000090;
  --shadow-box: #ffffff50;
  --error-color: #b8001f;
  --title1: 64px;
  --title2: 32px;
  --title3: 28px;
  --title4: 50px;
  --title5: 40px;
  --title6: 25px;
  --title-especial: 16px;
  --text2: 20px;
  --text-footer: 15px;
  --text-error: 12px;
  background-color: var(--secondary-color);
  color: var(--white-color);
  user-select: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  max-width: 1280px;
}

a {
  text-decoration: none;
}

main{
  position: relative;
}

button {
  border: none;
  height: 2.4rem;
  background-color: transparent;
  cursor: pointer;
}