@import "tailwindcss";

@theme {
  --color-primary: #000;
  --color-secondary: #f1f3f1;
  --color-customred: #ff0000;
}

/*@applay tailwind*/

@layer components {
  .title-card {
    @apply sm:h-[40%] p-3 text-customred text-2xl font-medium;
  }

  .subtitle-card {
    @apply sm:h-[10%] p-3 text-xl font-bold;
  }

  .description-card {
    @apply sm:h-[50%] p-3 text-xl font-light;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-secondary);
  text-rendering: optimizeLegibility;
}
