@import "tailwindcss";

@theme {
  --color-primary: #000;
  --color-secondary: #f1f3f1;
  --color-customred: #ff0000;
  --color-white-50: #ffffff70;
}

/*@applay tailwind*/

@layer components {
  .title-card {
    @apply sm:h-[40%] p-3 text-customred text-2xl font-medium;
  }

  .subtitle-card {
    @apply sm:h-[10%] p-3 text-xl font-bold;
  }

  .description-card {
    @apply sm:h-[50%] p-3 text-xl font-light;
  }
}

/* Modification of the scroll bar */

@layer utilities {
  /* Scrollbar completa */
  .scrollbar::-webkit-scrollbar {
    width: 8px; /* ancho de la barra vertical */
    height: 8px; /* alto de la barra horizontal */
  }

  /* Parte de fondo de la barra */
  .scrollbar::-webkit-scrollbar-track {
    background: #000; /* color de fondo */
  }

  /* La parte que se mueve */
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #000; /* color del thumb */
    border-radius: 10px;
    border: 2px solid var(--color-customred); /* espacio alrededor */
  }

  /* Hover del thumb */
  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--color-secondary);
  text-rendering: optimizeLegibility;
}
